*{
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;

}

.statBar{
  width: 600px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background: pink;
  font-family: 'Staatliches';
}

.stat{
  display: inline-block;
  width: 40%;
}

/*--------------map/background---------------*/
.background{
  background: rgb(52, 166, 251);
  table-layout: fixed;
  border-spacing: 0;
}

.background td{
  padding: 0;
}

.wall{
  background: white;
}

/*-------------Actor Classes----------------*/
.actor{
  position: absolute;
}

.coin{
  background: rgb(241, 229, 89);
  border-radius: 50%;
}

.lava{
  background: rgb(255, 100, 100);
}

.monster{
  background: purple;
}

.player{
  background: rgb(64, 64, 64);
}

.lost .player{
  background: rgb(160, 64, 64);
}

.won .player{
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

/*scrollPlayerIntoView calls this to make sure player is near center*/

.game{
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
